# Python
__pycache__/
*.pyc
.venv/
venv/

# Сборка
build/
dist/
*.egg-info/

# Данные (data/ и training/)
data/
training/

# IDE
.vscode/
.idea/

# Jupyter 
.ipynb_checkpoints/
*.ipynb

# Логи
*.log
logs/

# Артефакты моделей
*.pkl
*.joblib

# Переменные окружения
.env
.env.local

# конкретные файлы  
data_config.yaml