database_host = localhost
database_user = postgres
database_name = procurement_plan
database_password = my_supa_secret_password
database_url=postgresql://myuser:mypass@localhost/mydb

## из-за нехватки времени делаем костыль, подключаемся к основной базе данных напрямую, без использования сервиса парка СИ
main_base_host=localhost
main_base_port=5432
main_base_user=user_for_base
main_base_password=my_supa_secret_password
main_base_dbname=miinstance_base