
# Скопируй в .env и измени под себя
# Service Park Database Configuration
POSTGRES_DB=имя_базы_данных
POSTGRES_USER=имя_пользователя 
POSTGRES_PASSWORD=пароль
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# Service Park Application Configuration
SERVER_PORT=8080
# Logging Configuration
GIN_MODE=debug