qdrant_host = "localhost"
qdrant_port_http = 6333
qdrant_port_grpc = 6334
collection_name = "smth_name"
model_from_hugging_face = "sentence-transformers/paraphrase-multilingual-MiniLM-L12-v2"
reranker_model = "DiTy/cross-encoder-russian-msmarco"
qrdant_distance_type = qdrant.Cosine
qdrant_vector_size = 384 # меняем под параметр модели

# Для сервиса моделей
host=0.0.0.0
port=8000
model_cache=./models_cache
log_level=info
debug=false
timeout=600
max_text_length=512
max_batch_size=100