qdrant_host = "localhost"
qdrant_port_http = 6333
qdrant_port_grpc = 6334
collection_name = "smth_name"
model_from_hugging_face = "sentence-transformers/paraphrase-multilingual-MiniLM-L12-v2"
qrdant_distance_type = qdrant.Cosine
qdrant_vector_size = 384 # меняем под параметр модели